<div class="canvas-container">
    <canvas id="whiteboard">Sorry, your browser does not support HTML5 canvas technology.</canvas>
    
    <div class="btn-toolbar overlay-top-left d-flex flex-nowrap" role="toolbar">
        <div class="btn-group mr-2 shadow" role="group">
            <button type="button" class="btn btn-dark" onclick="setColour('#343a40')" aria-label="Black">&nbsp;</button>
            <button type="button" class="btn btn-light" onclick="setColour('#f8f9fa')" aria-label="White">&nbsp;</button>
            <button type="button" class="btn btn-danger" onclick="setColour('#dc3545')" aria-label="Red">&nbsp;</button>
            <button type="button" class="btn btn-orange" onclick="setColour('#fd7e14')" aria-label="Orange">&nbsp;</button>
            <button type="button" class="btn btn-warning" onclick="setColour('#ffc107')" aria-label="Yellow">&nbsp;</button>
            <button type="button" class="btn btn-success" onclick="setColour('#28a745')" aria-label="Green">&nbsp;</button>
            <button type="button" class="btn btn-primary" onclick="setColour('#007bff')" aria-label="Blue">&nbsp;</button>
            <button type="button" class="btn btn-indigo" onclick="setColour('#6610f2')" aria-label="Purple">&nbsp;</button>
        </div>
    </div>
    
    <div class="btn-toolbar overlay-top-right d-flex flex-nowrap" role="toolbar">
        <div class="btn-group" role="group">
            <div class="btn btn-secondary shadow" id="userCount" title="Users in this room"></div>
        </div>
    </div>
    
    <div class="btn-toolbar overlay-bottom-right d-flex flex-nowrap flex-column flex-md-row" role="toolbar">
        <button class="btn btn-dark text-light shadow mb-2 mb-md-0 mr-md-2" onclick="toggleDark()" title="Whiteboard / Blackboard">💡</button>
        <button class="btn btn-light shadow mb-2 mb-md-0 mr-md-2" onclick="undoLast()" title="Undo (Ctrl + Z)">&#8634;</button>
        <button class="btn btn-light shadow mb-2 mb-md-0 mr-md-2 d-none d-sm-inline-block" onclick="copyUrl()" title="Copy room URL">Copy URL</button>
        <button class="btn btn-light shadow mb-2 mb-md-0 mr-md-2 d-inline-block d-sm-none" onclick="copyUrl()" title="Copy room URL">📋</button>
        <button class="btn btn-primary shadow d-block d-md-none mb-2 mb-md-0" id="mobile-chat-toggle" onclick="toggleChat()" title="Toggle Chat">💬</button>
    </div>
    
    <div class="btn-toolbar overlay-bottom-left d-flex flex-nowrap" role="toolbar">
        <button class="btn btn-light shadow" onclick="download()" title="Download current board">💾</button>
    </div>
    
    <!-- Mobile-specific help button -->
    <div class="d-block d-md-none">
        <button class="btn btn-info shadow position-absolute mobile-help-btn" 
                data-toggle="modal" data-target="#help-modal" title="Show help">
            ?
        </button>
    </div>
</div>